@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --margin-title: 15px;
    --margin-left-ul: 30px;
    --margin-top-project: 10px;
    --margin-right-skill: 20px;
    --width-container: 800px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    justify-content: center;
    background-color: rgb(235 232 232);
}
.container {
    padding: 20px;
    width: var(--width-container);
    background-color: white;
    margin: 10px 0;
}
/* header */
.header {
    display: flex;
}
.header__left {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}
.header__left h1 {
    font-size: 25px;
}
.header__left span {
    font-size: 13px;
}
.header__right {
    border-left: 3px solid black;
    padding: 10px 0px 10px 20px;
}
.header__left img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.header__right li {
    display: flex;
    column-gap: 5px;
    align-items: center;
}
.header__right p {
    font-size: 15px;
    width: 15px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header ul {
    list-style: none;
}
.header ul li:nth-child(2) {
    margin: 5px 0;
}
.header ul li a {
    font-style: normal;
}
/* objective */
.objective {
    margin-top: 40px;
}
.objective__context ul {
    margin-left: 17px;
}
.objective__context ul li {
    margin: 3px 0;
}
/* project */
.project__context {
    margin-top: 30px;
}
.project__context:first-child {
    margin-top: 15px;
}
.project__title h3 {
    padding-right: var(--margin-title);
}
.project__context--title span {
    opacity: 0.6;
    font-size: 12px;
    margin-top: var(--margin-top-project);
    display: block;
}
.project__context--title h5 {
    font-size: 12px;
}
.project__context--title {
    width: 25%;
}
.project__context--info:not(:first-child) {
    margin-top: var(--margin-top-project);
}
.project__context--info ul {
    margin-left: var(--margin-left-ul);
    margin-top: var(--margin-top-project);
}
.project__container {
    padding-bottom: 20px;
    padding-left: 15px;
    flex: 1;
    border-left: 2px dotted black;
    margin: 0 15px;
    position: relative;
}
.project__container::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: -5px;
    left: -6px;
    margin-top: -5px;
    background-color: black;
}
.project__context-github {
    font-size: 0.83em;
    font-weight: bold;
}
/* education and skill */
/* education */
.education {
    width: calc(50% - var(--margin-right-skill));
}
.education__context h5 {
    font-size: 12px;
    margin-top: var(--margin-top-project);
}
.education__context span {
    display: block;
    font-size: 12px;
    margin-top: var(--margin-top-project);
}
/* skill */
.skill {
    flex: 1;
    margin-left: 20px;
}
.skill__context {
    margin-top: var(--margin-top-project);
}
.skill__context--info ul {
    margin-left: var(--margin-left-ul);
}
/* footer */
.honor-interest {
    width: 66.66%;
}
.additional-information {
    width: calc(33.33% - var(--margin-right-skill));
}
/* honor */
.honor {
    width: 50%;
}
.honor__context span {
    font-size: 13px;
}
.honor__context--info:not(:first-child) {
    margin-top: var(--margin-top-project);
}
/* interest */
.interests {
    flex: 1;
    margin: 0 var(--margin-right-skill);
}
.interests ul {
    margin-left: 10px;
}
/* additional information */
.additional-information__info span {
    font-size: 13px;
    font-weight: bold;
}
.additional-information .birthday {
    font-weight: normal;
}
/* define */
.context {
    padding: 15px 0;
    margin-left: 15px;
}
.flex {
    display: flex;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.title-container {
    display: flex;
    align-items: center;
    position: relative;
}
.title-container::after {
    content: '';
    position: relative;
    overflow: hidden;
    flex: 1;
    height: 2px;
    background-color: black;
}
.title-container .title {
    margin-right: var(--margin-title);
    font-size: 15px;
    position: relative;
}
.title-container .title::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: black;
    bottom: 0;
}
/* tag */
a {
    color: black;
    font-style: italic;
    text-decoration-line: none;
    font-size: 13px;
}
ul li {
    font-size: 13px;
    margin: 3px 0;
}
